.img-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.load-more {
    display: none;
}
.container-form {
    display: flex;
    background: linear-gradient(217deg, rgb(251, 255, 0), rgb(0, 149, 255) 70.71%),            linear-gradient(127deg, rgba(234, 255, 0, 0.8), rgba(0, 234, 255, 0.923) 70.71%),            linear-gradient(336deg, rgba(0, 0, 255, 0.951), rgba(0, 255, 217, 0.764) 70.71%);
    height: 70px;
    align-items: center;
    justify-content: center;
}
// .search-form {
//     position: relative;
//     &:hover > input {
//         width: 300px;
//     }
//     &:hover > .btn-sub {
//         right: -35px;
//     }
//     &:active > input {
//         width: 300px;
//     }
// }
// .search-form > input {
//     width: 41px;
//     height: 41px;
//     padding-left: 15px;
//     color: transparent;
//     border-radius: 20px;
//     border-width: 2px;
//     border-color: burlywood;
//     border-style: double;
//     transition: width 300ms, color 200ms;
//     &:active,
//     &:hover,
//     &:focus {
//         outline: none;
//         color: black;
//         width: 300px;
//     }
//     &::placeholder {
//         color: transparent;
//     }
// }
// .btn-sub {
//     position: absolute;
//     background-color: rgb(0, 153, 255);
//     border: none;
//     border-radius: 50%;
//     padding: 3px;
//     top: 50%;
//     right: 5px;
//     transform: translate(0%, -50%);
//     transition: 300ms;
// }
.btn-sub {
    border: none;
    background-color: transparent;
}

input {
    background-color: transparent;
    outline: none;
    border-width: 2px;
    border-color: rgb(93, 93, 93);
    border-style: groove;
    border-radius: 20px;
    transition: width 300ms, opacity 300ms;
    width: 41px;
    height: 41px;
    padding-left: 10px;
    opacity: 0;
    &::placeholder {
        color: transparent;
    }
}
.search-form {
    position: relative;
    display: flex;
    justify-content: center;
    &:hover > input,
    &:focus-within > input {
        width: 300px;
        opacity: 1;
        &::placeholder {
            color: gray;
        }
    }
}
.load-more {
	
	--offset: 10px;
	--border-size: 2px;
	
	display: none;
	position: relative;
	padding: 1.5em 3em;
	appearance: none;
	border: 0;
	background: transparent;
	color: #e55743;
	text-transform: uppercase;
	letter-spacing: .25em;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border-radius: 0;
	box-shadow: inset 0 0 0 var(--border-size) currentcolor;
	transition: background .8s ease;
	
&:disabled {
    color: grey;
}

	&:hover {
		background: rgba(100, 0, 0, .03);
	}
	
	&__horizontal,
	&__vertical {
		position: absolute;
		top: var(--horizontal-offset, 0);
		right: var(--vertical-offset, 0);
		bottom: var(--horizontal-offset, 0);
		left: var(--vertical-offset, 0);
		transition: transform .8s ease;
		will-change: transform;
		
		&::before {
			content: '';
			position: absolute;
			border: inherit;
		}
	}
	
	&__horizontal {
		--vertical-offset: calc(var(--offset) * -1);
		border-top: var(--border-size) solid currentcolor;
		border-bottom: var(--border-size) solid currentcolor;
		
		&::before {
			top: calc(var(--vertical-offset) - var(--border-size));
			bottom: calc(var(--vertical-offset) - var(--border-size));
			left: calc(var(--vertical-offset) * -1);
			right: calc(var(--vertical-offset) * -1);
		}
	}
	
	&:hover &__horizontal {
		transform: scaleX(0);
	}
	
	&__vertical {
		--horizontal-offset: calc(var(--offset) * -1);
		border-left: var(--border-size) solid currentcolor;
		border-right: var(--border-size) solid currentcolor;
		
		&::before {
			top: calc(var(--horizontal-offset) * -1);
			bottom: calc(var(--horizontal-offset) * -1);
			left: calc(var(--horizontal-offset) - var(--border-size));
			right: calc(var(--horizontal-offset) - var(--border-size));
		}
	}
	
	&:hover &__vertical {
		transform: scaleY(0);
	}
	
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    column-gap: 110px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    align-items: center;
}
.photo-card {
    
}
.photo-img {
    object-fit: cover;
    width: 400px;
    border-radius: 10px;
    transition: scale 300ms;
    &:hover {
        scale: 1.1
    }
}
.photo-ref {
    display: block;
    width: 400px;
}
